[Unit]
Description=Grok-fsck service for %I
Documentation=https://git.kernel.org/pub/scm/utils/grokmirror/grokmirror.git

[Service]
Type=oneshot
# oneshot only got an implicit exemption from the startup timeout in systemd
# v254; on anything older, fsck/repack running past the default ~90s would be
# killed mid-operation. Make it explicit rather than depend on the version.
TimeoutStartSec=infinity
Environment="EXTRA_FSCK_OPTS="
EnvironmentFile=-/etc/sysconfig/grokmirror.default
EnvironmentFile=-/etc/sysconfig/grokmirror.%i
ExecStart=/usr/bin/grok-fsck -c /etc/grokmirror/%i.conf $EXTRA_FSCK_OPTS
CPUSchedulingPolicy=batch
# To override these users, create a drop-in systemd conf file in
# /etc/systemd/system/grok-fsck@[foo].service.d/10-usergroup.conf:
# [Service]
# User=yourpreference
# Group=yourpreference
User=mirror
Group=mirror
