[Unit]
Description=Grok-fsck timer for %I
Documentation=https://git.kernel.org/pub/scm/utils/grokmirror/grokmirror.git

[Timer]
OnCalendar=Sat 04:00

[Install]
WantedBy=timers.target
